
body{
    background-color: black;
    font-size: 20px;
    color: white;

}

.whisper{
    font-family: monospace;
    font-style:italic;
    font-size: 8px;
}

header{
    text-decoration: underline;
}

footer{
    background: green;
    text-align: center;
    padding: 5px;
}

nav{

}

